<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    I never thought I’d make a dime from writing online.<br>

    I’ve taken zero courses, didn’t study writing at school, had no mentors, nothing.<br> There were no shortcuts in my
    journey.<br>

    Yet, here I am making $1.<br>5k a month, writing about whatever I want on the internet.<br> It’s the best feeling in the
    world.<br> So if you’re sitting there thinking ‘I want that’, let me tell you the story of how I got here.<br>

    The bumbling years (2016–2019)
    For 3 years I was trying to get rich quickly.<br>

    I’d started a graduate scheme, was underwhelmed by office life, and couldn’t believe that this would be my next 50
    years.<br> I started looking for an escape route.<br> For something more.<br>

    In January 2017, I consumed everything I could on escaping the rat race, finding freedom, building something for
    myself.<br> It was all procrastination but at least it made me feel better.<br>

    By March, I started to take action.<br> On the wrong things but that’s all part of it.<br> I decided to start a sock store
    (yes like selling socks online, I have no idea what I was thinking).<br>

    I spent months building the website, got 5 sales and closed it.<br> On to the next thing, the next thing, and then the
    next thing.<br> What followed was a series of business ideas, failures, and an accumulation of stuff that I didn’t need.<br>

    At the end of 2018, I had a mug press, 600 jars, 60 pairs of trainers, a sewing machine, endless amounts of books, 7
    websites and an expensive stand mixer.<br> I’ll save myself the embarrassment and keep those side hustles to myself.<br>

    This is the cycle.<br> I call it the business cycle of doom:

    Have an idea → buy all the kit → work on it for 2 weeks → burn out → 2 weeks off.<br>

    Something had to give, I couldn’t keep doing the same thing over and over.<br> It was losing faith.<br>

    Being curiosity-led and not rich-seeking (2020)
    At this point, I was mad at myself.<br>

    I’d wasted 2 years going around in circles.<br> I was upset.<br> Embarrassed.<br> Burnout and miserable.<br> On top of that, my
    house was falling down.<br> It was all a bit tragic.<br>

    It’s when I started writing.<br>

    In truth, I was having so many conversations in my head that I was bored of repeating myself.<br> I was losing track of
    what I said yesterday.<br> I decided to start writing to understand my thoughts.<br>

    I couldn’t keep going around in circles, I was too sad.<br>

    So really, I fell into writing.<br> I needed a form of therapy.<br> So I decided to write.<br> I wrote because I needed to.<br> It
    started small.<br>

    Just here and there.<br> But then, over a few weeks, things started to feel better.<br> The writing was helping me.<br> So I did
    it more and more.<br>

    The consistency fly-wheel
    A funny thing happens when you enjoy something.<br>

    You don’t need to think of productivity hacks, procrastination tips, or motivation techniques.<br> I didn’t need it
    because I was enjoying myself.<br> It was making me feel better.<br>

    I built a relationship with writing.<br> One that I’ll be forever grateful for.<br>

    I found that after a few weeks, I’d unconsciously broken the business cycle of doom, and was now more consistent
    than I’d ever been.<br> Those few weeks flew by.<br> I’d write, I post it and that would be that.<br>

    Then came the harder bit, months 3–6.<br>

    Upgrading the thinking (2020–2021)
    If you’re going to write on the internet my biggest hack would be this:

    Unplug yourself from external metrics.<br> Don’t look at your stats.<br> Don’t pin your success down to the reach of an
    article.<br> It’s the fast track to misery.<br> Instead, focus on the fun.<br>

    After a few months of being a Debbie downer, because I was trying hard and I was getting 3 reads on my stories, I
    decided I would focus on something else.<br>

    So I did.<br>

    I would pick a topic each month to improve:

    Headlines
    Intros
    Hooks
    Voice
    All of a sudden, it was 12 months later and I was starting to make some real money on the internet.<br> When I started,
    I made enough money each month to buy a chocolate bar.<br> Then it was a takeaway.<br> But it felt like I blinked and I
    could pay the mortgage.<br>

    It’s pretty wild what happens when you focus on fun.<br>

    Writing on the internet + building a brand (2022 and beyond)
    And then comes the shift.<br>

    The shift from thinking ‘hey this might be fun’ to ‘I think I could do this’.<br> Self-belief is the most addictive
    feeling in the world.<br> And you realise that you start to iterate, the process takes over itself.<br>

    All of a sudden, I’d built a brand, a content strategy, and systems for writing the whole shabang.<br> It wasn’t
    planned.<br> I did stuff, reflected and realised that there were better ways to do them.<br> So I did them better and
    repeated the process.<br>

    Everything I have now was born out of months of learning.<br>

    My content plan:
    5 articles a week
    35 tweets a week
    My monetization plan:
    Selling digital products
    Selling my books
    Potential revenue sources:
    Website affiliates
    Newsletter subscription
    More digital products
    2.<br>5 years, a whole lot of learning
    In the last 2.<br>5 years, there were two ideas that I put above everything else:

    To have as much fun as possible.<br> Along the way, there have been opportunities to write for other people but as I
    tried that, I realised it wasn’t for me.<br> If I’d said yes I might have been earning more but enjoying it less.<br> That’s
    not the path for me.<br>
    Learning as much as possible.<br> I love learning.<br> It’s a realisation for me that my happy place is learning new things.<br>
    I’ve come to the conclusion that when I’m not learning 20% of the time, I get bored and unmotivated.<br>
    In truth, passive income isn’t passive.<br> I’ve never worked harder writing online but I’ve never enjoyed my work as
    much as I am now.<br>

    I make $1.<br>5k per month writing on the internet and honestly, it’s the most fun I’ve ever had.<br>

</body>

</html>