<!DOCTYPE html>
<html>

<head>
    <title>User Profile Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'core/media/profile.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>

<body>
    <header>
        <h1>Welcome, <span> {{user.first_name}} {{user.last_name}}</span> </h1>
    </header>
    <main class="d-flex justify-content-center">
        <div class="profile-img">
            <img src="#" alt="Profile Picture">
        </div>
        <div class="profile-info">
            <h2>{{user.get_username}}</h2>
            <p>first_name: {{user.first_name}}</p>
            <p>last_name: {{user.last_name}}</p>
            <p>Age: 25</p>
            <p>Occupation: Software Developer</p>
            <p>Location: New York City</p>
            <p>{{user.email}}</p>
            <p>Phone: +1 (555) 123-4567</p>
            <p>Website: <a href="https://johndoe.com">https://johndoe.com</a></p>
            <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod convallis ligula, eu dapibus
                augue aliquam ac. Nulla quis augue non lacus dignissim bibendum. Nam vitae neque rhoncus, vestibulum
                purus ac, auctor tellus. Etiam laoreet ex quis dolor efficitur ullamcorper.</p>
        </div>
    </main>
    <div class="">
        <a href="{% url 'UserBlog' %}">Your Blog</a>
    </div>
    <div class="">
        <a href="{% url 'AddBlog' %}">Add Blog</a>
    </div>
    <footer>
        <p>&copy; 2023 John Doe</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</body>

</html>